<a href="https://colab.research.google.com/github/ariesharry/Data-Science/blob/main/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Scenario:**
Suppose you have a dataset with missing values, duplicate rows, and some inconsistent data.

In [1]:
import pandas as pd

# Sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve', None, 'Frank'],
    'Age': [25, None, 35, 25, 40, 50, None],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

Original Data:
      Name   Age           City
0    Alice  25.0       New York
1      Bob   NaN    Los Angeles
2  Charlie  35.0        Chicago
3    Alice  25.0       New York
4      Eve  40.0  San Francisco
5     None  50.0  San Francisco
6    Frank   NaN    Los Angeles

# 1. Handling Missing Values:

You can handle missing values by either removing them or filling them with a specific value (e.g., mean, median).

In [2]:
# Drop rows with missing values
df_dropna = df.dropna()

# Fill missing values with mean (for numerical columns)
df_filled = df.copy()
df_filled['Age'] = df_filled['Age'].fillna(df_filled['Age'].mean())

In [ ]:
# Check for missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

In [ ]:
# Drop rows with missing values
df_drop_rows = df.dropna()

# Drop columns with missing values
df_drop_columns = df.dropna(axis=1)

a. Fill with a Constant:

In [ ]:
df_filled_constant = df.fillna(value=0)  # Filling with 0

b. Forward Fill:

In [ ]:
df_filled_forward = df.fillna(method='ffill')

c. Backward Fill:

In [ ]:
df_filled_backward = df.fillna(method='bfill')

d. Fill with Mean, Median, or Mode:

In [ ]:
# Fill with mean
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Fill with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill with mode for a categorical column
df['City'] = df['City'].fillna(df['City'].mode()[0])

#2. Removing Duplicates:

In [4]:
df_no_duplicates = df.drop_duplicates()

#3. Standardizing Data:
For instance, converting all string data to lowercase for consistency.

In [5]:
df['Name'] = df['Name'].str.lower()
df['City'] = df['City'].str.lower()

#4. Encoding Categorical Data:
If you have categorical data that needs to be converted into a numerical format, you can use encoding.

In [6]:
df_encoded = pd.get_dummies(df, columns=['City'])